/* ===================================== 
   Public API Request
    - made border-radius of the search button and search field more round.
    - made the border color of the search button and search field thicker and darker
    - changed the background color of the search button to light blue.
    - changed the font of the h1 header to Lucida Handwriting, cursive font-family and added a grey blurred box-shadow to it.
    
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    background: rgba(235, 235, 235, 0.9);
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 2.25em;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: rgba(50, 50, 50, 0.9);
    text-shadow: 3px 2px 10px gray;
    margin-top: 35px;
}

.search-input {
    padding: 0.4rem 1rem;
    border: 2px solid rgba(196, 196, 196, 0.9);
    border-radius: 0.5rem;
    max-width: 20rem;
    transition: .4s ease-out;
}

.search-input:active, .search-input:hover, .search-input:focus {
    border: 1px solid rgba(50, 50, 50, 0.9);
}

.search-submit {
    cursor: pointer;
    height: 33px;
    background: rgba(196, 243, 250, 0.9);
    border-radius: 0.5rem ;
    border: 2px solid rgba(196, 196, 196, 0.9);
    transition: .4s ease-out;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}


/* ===================================== 
   Gallery
   - made all cards' borders more round.
   - changed the background color of the cards to pale grey-blue.
   - added thin grey border to the images.
   - made the font of the email and location bold.
   - added grey blurred box-shadow to all user cards.
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
  
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: rgba(232, 238, 245, 0.9);
    border-radius: 10px;
    border: 3px solid rgba(50, 50, 50, 0.3);
    box-shadow: 3px 5px 10px gray;
    transition: .4s ease-out;
    overflow: hidden;
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
    border: 2px solid rgba(50, 50, 50, 0.3);
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* ===================================== 
   Modal
  - changed border-radius for modals to 1em and made the border thick dark-blue.
  - added dark blue border to the image.
  - changed the color of modal's background to light blue.
  - changed the background color of the btn-container to light blue and removed it's border.
  - changed the color of buttons "Prev" and "Next" to dark blue.
  - set the size of the font for the name to 30px, and for the email to 18px.
  - made the text for the country, email, phone, DOB - bold.
  - made the borders of "Prev", "Next" and "Close" buttons more round.
  
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgb(190, 231, 250);
    border-radius: 1em;
    border: 5px solid rgb(87, 110, 160);
    transition: .4s ease-out;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
    border: 5px solid rgb(87, 110, 160);
}

.modal-name {
    margin-bottom: 5px;
    font-size: 30px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: rgb(190, 231, 250);
}

.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(26, 45, 105, 0.8);
    border-radius: 15px;
    transition: .4s ease-out;
  }
  

/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

/**
 - changed the display property of the header-inner-container, text-container and search-container to "block", so that the header and the search bar appear centered on the page

*/

@media (min-width: 768px) {
    .header-inner-container {
        display: block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        display: block;    
    }

    .search-container {
        margin-top: 25px;
        display: block; 
    }

    .modal {
        margin-top: 100px;
    }
}


/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(50, 50, 50, 0.9);
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1); 
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1); 
    }
}